[Desktop Entry]
Name=quillt
Comment=A simple terminal using VTE
Exec=quiltt
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=System;TerminalEmulator;
StartupNotify=true
